{% extends 'base.html' %}
{% load static %}

{% block title %}Map{% endblock %}

{% block styles %}
{{ block.super }}
<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" />
<link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Explore your Locality</h2>
    <p id="heading">Welcome to our interactive map! You can use it to explore your location or enter an address to see <big>wind speed and 
        solar energy potential</big> in that area. Simply click "Show my Current Location" or type an address to get started.</p>
</div>

<!-- Buttons and Input -->
<div class="container">
    <button class="btn btn-primary" onclick="getLocation()">Show my Current Location</button>
</div>

<div class="container">
    <input type="text" id="addressInput" class="form-control" placeholder="Enter your city">
    <button class="btn btn-primary mt-2" onclick="geocodeAddress()">Find via Address</button>
    <p id="status" style="display: inline;"></p>
</div>

<!-- Map container -->
<div id="map"></div>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
<script src="{% static 'js/map.js' %}"></script>
{% endblock %}
